{% extends "base.html.j2" %}
{% block title %}RemoteBash · Dashboard{% endblock %}
{% block head_extra %}
  <link rel="stylesheet" href="{{ url_for('static', path='css/xterm.css') }}">
{% endblock %}
{% block body %}
  {% include "partials/header.html.j2" %}
  <main class="max-w-6xl mx-auto px-6 py-8 space-y-8">
    {% include "partials/add_form.html.j2" %}
    {% include "partials/client_list.html.j2" %}
  </main>
  {% include "partials/edit_modal.html.j2" %}
  {% include "partials/terminal_modal.html.j2" %}
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', path='js/vendor/xterm.js') }}"></script>
  <script src="{{ url_for('static', path='js/vendor/xterm-addon-fit.js') }}"></script>
  <script src="{{ url_for('static', path='js/app.js') }}"></script>
  <script src="{{ url_for('static', path='js/terminal.js') }}"></script>
{% endblock %}
