{% extends "base.html.j2" %}
{% block title %}RemoteBash · Dashboard{% endblock %}
{% block body %}
  {% include "partials/header.html.j2" %}
  <main class="max-w-6xl mx-auto px-6 py-8 space-y-8">
    {% include "partials/add_form.html.j2" %}
    {% include "partials/client_list.html.j2" %}
  </main>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', path='js/app.js') }}"></script>
{% endblock %}
